@import url('https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
}

html,
body {
  height: auto;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #6D6D52;
}

/* Asegura espacio al final para poder hacer scroll */
body::after {
  content: "";
  display: block;
  height: 0px;
}

/* Header */
.header {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  padding: 5px 10%;
  position: relative;
}

.header .logo {
  cursor: pointer;
}

.header .logo img {
  height: 200px;
  width: auto;
  transition: all 0.3s;
}

.header .logo img:hover {
  transform: scale(1.1);
}

.header .nav-links {
  list-style: none;
}

.header .nav-links li {
  display: inline-block;
  padding: 0 20px;
}

.header .nav-links li:hover {
  transform: scale(1.1);
}

.header .nav-links a {
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.header .nav-links li a:hover {
  color: #6D6D52;
}

.header .btn button {
  font-weight: 700;
  color: #00b3ff;
  padding: 9px 25px;
  background: #eceff1;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.header .btn button:hover {
  background-color: #e2f1f8;
  color: #6D6D52;
  transform: scale(1.1);
}

/* Layout general responsive */
@media (max-width: 768px) {

  .header .logo {
    position: static;
    /* evita problemas de overlap con menú hamburguesa */
    margin: 0 auto;
  }

  .nav-links {
    align-items: left;
    flex-direction: column;
    position: absolute;
    top: 85px;
    right: 0;
background-color: rgba(255, 255, 255, .7);
    width: 250px;
    display: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    z-index: 999;
    gap: 2rem;
    height: 40rem;
    font-weight: bold; /* letra gorda */
  color: black;      /* letra negra */
  }

  .nav-links a {
    margin-top: 1rem;
  display: block;      /* hace que el padding funcione en todo el enlace */
  padding: .2rem;       /* margen interno */
  font-weight: bold;   /* letra gorda */
  color: black;        /* letra negra */
  text-decoration: none;
  font-size: 1.2rem;
}
  .nav-links.active {
    display: flex;
  }

  .hamburger {
    display: block;
  }

  .desktop-contact {
    display: none;
  }

  .mobile-contact {
    display: block;
    margin-top: 10px;
  }

  .header {
    position: relative;
    background-image: url("/img/madera.png");
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    background-size: cover;
    /* Ajusta la imagen para cubrir todo el contenedor */
    background-position: center;
    /* Centra la imagen */
  }

  .inicio-section {
    flex-direction: column;
    text-align: center;
    padding: 2rem 1rem;
    text-align: left;
  }

  .inicio-content h1 {
    margin-top: 2rem;
    font-size: 1.5rem;
  }

  .inicio-content p {
    font-size: 1rem;
    margin-top: 2rem;
  }

 .contacto-section {
    padding: 30px 15px;
    background-image: url("../img/madera.png");
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    background-size: cover;
    /* Ajusta la imagen para cubrir todo el contenedor */
    background-position: center;
    /* Centra la imagen */

  }

  .contacto-section h2 {
    font-size: 1.7em;
  }

  .contacto-icons a {
    font-size: 2rem;
  }
}

/* Sección contacto */
.contacto-section {
  padding: 40px 20px;
  background-color: #f5f5f5;
  text-align: center;
  display: block;
  position: relative;
  z-index: 1;
  margin-top: 230px;
  position: static;
  /* evita problemas de overlap con menú hamburguesa */

}

.contacto-section h2 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #222;
}

.contacto-icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 20px;
}

.contacto-icons a {
  font-size: 2.5rem;
  color: #333;
  transition: transform 0.3s ease, color 0.3s ease;
}

.contacto-icons a:hover {
  color: #6D6D52;
  transform: scale(1.3);
}

.inicio-image img {
  max-width: 700px;
  width: 100%;
  border-radius: 0px;
  box-shadow: 0 4px 10px rgba(204, 0, 0, 0.1);
}
